body {
  font-size: 0.875rem;
}

.material-icons {
  width: 20px;
  height: 23px;
  margin-right: 10px;
  vertical-align: text-top;
}

.sidebar {
  bottom: 0;
  left: 0;
  max-width: 180px;
  max-height: 100%;
  z-index: 100;
  box-shadow: inset -1px 1px 1px rgba(30, 54, 41, 0.1);
  background: currentColor;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .material-icons {
  color: #44c13f;
}

.sidebar .nav-link.active {
  background: #c16620;
  color: #fff;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link:hover .material-icons,
.sidebar .nav-link.active .material-icons {
  color: #007bff;
}

.sidebar .nav-link:hover {
  color: violet;
  color: #inherit !important;
  background: azure;
}

.sidebar .nav-link.active:hover {
  color: violet;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}
